# Build
dist/
lib/

# Dependencies
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.pnpm-debug.log

# TypeScript
*.tsbuildinfo

# IDE
.vscode/
.idea/
*.sublime-*

# OS
.DS_Store
Thumbs.db

# Testing
coverage/

# Temporary files
*.log
*.tmp
outputs/*